* {
    margin: 0;
    padding: 0;
    font-family: 'Supermercado One', cursive;
}
.body{
    overflow: hidden;
}
.theme-button{
    position: absolute;
    width: 7%;
    height: 25%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transform: translateY(15px);
}
.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, #00ff24, #ff0000);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}

#nav-container {
    padding: 25px 70px;
    width: calc(100% - 140px);
    height: 60px;
    justify-content: left;
    position: sticky;
    top: 0;
    z-index: 100;
}

.inc {
    height: 60px;
    width: 100%;
    text-align: center;
}

.inc ul {
    display: inline-flex;
    height: 60px;
    margin-left: 9%;
    margin-right: 9%;
    list-style: none;
    font-size: 28px;
    padding-top: 8px;
    text-decoration: none;
    position: sticky;
}

.inc ul li:last-of-type {
    padding-left: 100px;
}

.inc a {
    text-decoration: none;
    color: black;
    z-index: 2;
}

.inc a::after {
    background: purple;
    width: 0;
    height: 2px;
    content: '';
    display: block;
    margin: auto;
    transition: 1s;
    z-index: 1;
    transform: translateY(3px);
}

.inc a:hover::after {
    width: 100%;
}

#header {
    position: relative;
    transform: translateY(-32%);
    height: 320px;
    width: 240px;
    padding-left: 140px;
    padding-top: 150px;
}

.main {
    width: 240px;
    height: 320px;
}

.icon {
    position: relative;
    vertical-align: middle;
    padding: 40px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.social-icons {
    height: 28px;
    width: 30px;
    padding-left: 110px;
    transform: translateY(-50px);
    align-items: center;
    border-radius: 50%;
}

.dropdown-btn {
    background-image: url(/svgs/arrow-bar-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /*margin-left: 110px;*/
    /*transform: translateY(-50px);*/
    height: 26px;
    width: 26px;
    margin-left: 2px;
    border-width: 0;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-btn:hover, .dropdown-btn:focus {
    background-color: #c08e17
}

.links {
    display: none;
    position: absolute;
    margin-left: 5px;
    width: 20px;
    height: 140px;
    z-index: 1;
    overflow: auto;
}

.links ul {
    list-style-type: none;
}

.links a {
    padding: 5px 0;
    text-decoration: none;
    display: block;
}

.social-icons:hover .links {
    display: block;
}

#about-me {
    position: relative;
    display: inline-flex;
    transform: translate(50%, -415px);
    height: 130px;
    margin-left: 85px;
    width: 590px;
}

.main-info {
    display: block;
    position: relative;
    height: 130px;
    width: 350px;
    border-radius: 30px;
    margin-top: 9px;
    font-size: 10px;
}

.secondary-info {
    display: block;
    position: relative;
    height: 130px;
    width: 280px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: 9px;
}

h1:nth-child(n+1) {
    white-space: nowrap;
    padding-left: 18px;
    padding-top: 6px;
    letter-spacing: .1em;
    font-size: 25px;
}


.loader {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 101;
    animation: fadein ease 2s;
    pointer-events: none;
}



#subtle-content{
    height: 500px;
    width: 600px;
    transform: translate(180%,-107%);
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}
.subtle ul{
    list-style: none;
}

@keyframes fadein {
    0% {
        opacity: 1
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0
    }
}
@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
