* {
    margin: 0;
    padding: 0;
    font-family: 'Supermercado One', cursive;
}


.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}

.wave:nth-child(2) {
    animation-delay: 0.1s;
}

.wave:nth-child(3) {
    animation-delay: 0.2s;
}

.wave:nth-child(4) {
    animation-delay: 0.3s;
}

.wave:nth-child(5) {
    animation-delay: 0.4s;
}

.wave:nth-child(6) {
    animation-delay: 0.5s;
}

.wave:nth-child(7) {
    animation-delay: 0.6s;
}

.wave:nth-child(8) {
    animation-delay: 0.7s;
}

.wave:nth-child(9) {
    animation-delay: 0.8s;
}

.wave:nth-child(10) {
    animation-delay: 0.9s;
}
#nav-container {
    background-image: linear-gradient(gray, lightgray, gray);
    padding: 25px 70px;
    width: 1762px;
    height: 60px;
    justify-content: left;
    position: sticky;
    top: 0;
    z-index: 100;
}

.inc {
    height: 60px;
    width: 100%;
    text-align: center;
}

.inc ul {
    display: inline-flex;
    height: 60px;
    margin-left: 9%;
    margin-right: 9%;
    list-style: none;
    font-size: 28px;
    padding-top: 8px;
    text-decoration: none;
}

.inc ul li:last-of-type {
    padding-left: 100px;
}
.inc a{
    text-decoration: none;
    color: black;
    z-index:2;
}

.inc a::after {
    background: purple;
    width: 0;
    height: 2px;
    content:'';
    display: block;
    margin: auto;
    transition: 1s;
    z-index: 1;
    transform: translateY(3px);
}

.inc a:hover::after {
    width: 100%;
}
#header {
    position: relative;
    transform: translateY(-32%);
    height: 320px;
    width: 340px;
    padding-left: 140px;
    padding-top: 150px;
}
.main {
    width: 200px;
    height: 320px;
}
.icon {
    position: relative;
    vertical-align: middle;
    margin: 40px;
    transform: translateY(-3%) scale(110%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.social-icons {
    position: relative;
    display: inline-flex;
}

.dropdown-btn {
    background-color: purple;
    background-image: url(/svgs/arrow-bar-down.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-left: 88px;
    transform: translateY(-50px);
    height: 25px;
    width: 25px;
    border-width: 0;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
}

.dropdown-btn:hover {
    background-color: #3e8e41;
}

.links {
    display: none;
    position: absolute;
    transform: translate(92px, -25px);
    min-width: 10%;
    z-index: 1;
    overflow: auto;
}

.links ul {
    list-style-type: none;
}

.links a {
    padding: 5px 0;
    text-decoration: none;
    display: block;
}

.social-icons:hover .links {
    display: block;
}

#about-me {
    display: inline-flex;
    transform: translate(50%, calc(-350% + 15px));
    height: 130px;
    width: 850px;
}

.main-info {
    display: block;
    background: gray;
    position: relative;
    height: 130px;
    width: 375px;
    /*transform: translate(420px, -260px);*/
    font-size: 30px;
    border-radius: 30px;
}

.secondary-info {
    display: block;
    background: gray;
    position: relative;
    height: 130px;
    width: 375px;
    font-size: 30px;
    border-radius: 30px;
    margin-left: 100px;
}

h1:nth-child(n+1) {
    color: black;
    white-space: nowrap;
    padding-left: 15px;
    letter-spacing: .1em;
    font-size: 35px;
}


.loader {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 101;
    animation: fadein ease 3s;
    pointer-events: none;

}

@keyframes fadein {
    0% {
        opacity: 1
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0
    }
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}