* {
    margin: 0;
    padding: 0;
    font-family: 'Supermercado One', cursive;

}

.icon {
    vertical-align: middle;
    margin: 75px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#fadein-delay {
    animation: fadein ease 4s;
}

@keyframes fadein{
    0% {opacity: 0}
    100% {opacity: 1}
}
